.content {
    width: 80%;
    height: 60%;
    top: 8%;
    left: 10%;
    position: relative;
    background-color: #15866A;
}

.container{
    width: 80%;
    border-spacing: 20px;
    position: relative;
    top: 15%;
    left: 10%;
    /* margin-top: -50px;
    margin-left: -50px; */
}
th {
    text-align: center;
}
table, td, th{
    border: 1px solid rgb(255, 254, 254);
    border-collapse: collapse;
    color: floralwhite;
}

th, td{
    padding: 10px;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rbga(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.modal-content{
    width: 500px;
    height: 350px;
    background-color: rgb(225, 248, 236);
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    top: 5%;
    position: relative;
}

input {
    width: 70%;
    display: black;
    margin: 10px auto;
}

.close{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

button{
    color: white;
    border-radius: 10px;
    border: solid wheat;
    padding: 5px;
}