<!DOCTYPE html>
<html>
    <head>
        <title>
            Hospital
        </title>
        <style>
            .page-header {
                color: #fff;
                text-align: center;
                background-color: #159957;
                background-image:linear-gradient(120deg, #155799, #159957)
            }
            @media screen and (min-width: 48em) {
                .page-header {
                    padding:2rem
                }
            }
            .project-name {
                margin-top: 0;
                margin-bottom:0.2rem
            }

            @media screen and (min-width: 8em) {
                .project-name {
                    font-size:1.2rem
                }
            }
            {{!-- .dashboard {
                margin-top: 0;
                margin-bottom:0.2rem
            }

            @media screen and (min-width: 8em) {
                .dashboard {
                    font-size:0.7rem
                }
            } --}}

        </style>
    </head>
    <body>
        <div class="page-header">
            <div class="project-name">
                <h1 style="color: rgb(211, 204, 204);"> Hospital Ventilator Management System</h1>
            </div>
        </div>
        <div class="login">
             <form action="/hospital_ventilator/views/layouts/main.handlebars" method="POST">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="Doe"><br><br>
                <input type="submit" value="Submit">
            </form> 
        </div>
    </body>
</html>